@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body{
	font-family: "Roboto", sans-serif;
}


.hero-container {
    display: inline-block;
    width: 40%;
    height: 480px;
    background-color: white;
  }

  .hero-container > h1 {
    color: rgba(0, 0, 0, 0.733);
    font-size: 32px;
    padding-right:40px ;
    padding-left:40px ;
    margin-top: 140px;
    text-align: center;
    line-height: 45px;
  }

  .hero-container > h3 {
    margin-left:  180px;
    margin-top: 20px;
    color:rgba(0, 0, 0, 0.651);
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .hero-btns {
    margin-top: 20px;
    margin-left: 200px;
  }

  .hero-btns .btn {
    margin: 20px 0px;
  }

  .fa-play-circle {
    margin-left: 4px;
  }

  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }

  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }

    .hero-container > p {
      font-size: 30px;
    }

    .btn-mobile {
      display: block;
      text-decoration: none;
    }

    .btn {
      width: 100%;
    }
  }
