/* Add a black background color to the top navigation */
.topnav {
    background-color: #36846b;
    overflow: hidden;
    padding: 10px 350px;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;

  }

  /* Change the color of links on hover */
  .topnav .items a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav .items{
      margin-right: 400px;

  }

  /* Add an active class to highlight the current page */
  .topnav .items a.active {
    color: white;
    border-bottom: 2px solid #d68438;
  }

  /* Hide the link that should open and close the topnav on small screens */
